<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>goods</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>ecodefilter</filter-name>
		<filter-class>com.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ecodefilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>vcode</servlet-name>
		<servlet-class>com.vcode.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vcode</servlet-name>
		<url-pattern>/vcode</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserAction</display-name>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>com.dhc.action.UserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/userAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CategoryAction</display-name>
		<servlet-name>CategoryAction</servlet-name>
		<servlet-class>com.dhc.action.CategoryAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryAction</servlet-name>
		<url-pattern>/categoryAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookAction</display-name>
		<servlet-name>BookAction</servlet-name>
		<servlet-class>com.dhc.action.BookAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookAction</servlet-name>
		<url-pattern>/bookAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestAction</display-name>
		<servlet-name>TestAction</servlet-name>
		<servlet-class>com.dhc.action.TestAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestAction</servlet-name>
		<url-pattern>/testAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CartItemAction</display-name>
		<servlet-name>CartItemAction</servlet-name>
		<servlet-class>com.dhc.action.CartItemAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartItemAction</servlet-name>
		<url-pattern>/cartItemAction</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.dhc.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>CartItemAction</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/jsps/cart/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>OrderAction</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/jsps/order/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>OrderAction</display-name>
		<servlet-name>OrderAction</servlet-name>
		<servlet-class>com.dhc.action.OrderAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderAction</servlet-name>
		<url-pattern>/orderAction</url-pattern>
	</servlet-mapping>
</web-app>